[submodule "include/clip"]
	path = include/clip
	url = https://github.com/dacap/clip.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "include/i18n_keyval"]
	path = include/i18n_keyval
	url = https://github.com/stefandevai/i18n_keyval.git
[submodule "include/imgui_markdown"]
	path = include/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown.git
